---
- name: Create directory for SSH keys
  ansible.builtin.file:
    path: "{{ generate_ssh_folder }}"
    state: directory
  delegate_to: localhost

- name: Generate RSA 4096 SSH key pair
  community.crypto.openssh_keypair:
    path: "{{ generate_ssh_folder }}/wg_vps"
    type: rsa
    size: 4096
    force: false  # Set to true to regenerate if exists
  delegate_to: localhost
