---
- name: Converge
  hosts: all
  become: true

  pre_tasks:
    - name: Run the equivalent of "apt-get update" as a separate step
      ansible.builtin.apt:
        update_cache: true

    - name: Ensure build dependencies are installed (Debian).
      ansible.builtin.apt:
        name:
          - openssh-server
          - openssh-client
        state: present

  roles:
    - {role: '../../../prepare-vps'}
