---
name: Molecule-CI
on:
    push:
      branches:
        - "main"
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.12
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install ansible docker ansible-core molecule molecule-plugins[docker] yamllint ansible-lint  testinfra pytest
      - name: Run Molecule test prepare vps role
        working-directory: ./roles/prepare-vps
        run: molecule test
        env:
          PY_COLORS : '1'
          ANSIBLE_FORCE_COLOR: '1'
      - name: Run Molecule test wireguard
        working-directory: ./roles/wireguard
        run: molecule test
        env:
          PY_COLORS : '1'
          ANSIBLE_FORCE_COLOR: '1'